<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
       form{
display: flex;
flex-direction: column;
gap: 7px;
        }
        input{
            width: 150px;
        }
        button{
            width: 150px;
        }

        .entry{
            display: flex;
            gap: 30px;
        }

    </style>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/user/Login", method="post">
    <div class="entry">
        <label for="email ">email Id :-</label>
        <input type="text" name="email" required id="email">
    </div>
    <div class="entry">
        <label for="password">password:-</label>
        <input type="text" name="password" required id="password">
    </div>
        <button>Submit</button>
    </form>
</body>
</html>